.projects_container {
  width: 98%;
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.projects_items {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  transition: var(-transition);
}

.projects_item {
  max-width: 300px;
  border-radius: 1.5rem;
  filter: blur(15);
  background-color: rgba(21, 19, 49, 0.781);
}

.projects_item:hover {
  background: transparent;
  background-color: var(--color-primary-variant);
  transition: var(--transition);
}

.projects_item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.projects_item h3 {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: var(--color-primary);
}

.projects_item-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0 0.5rem;
}

.buttons{
  width: 100%;
  align-items: center;
  margin: 1rem 0;
  display: flex;
  justify-content: space-evenly;
}

.buttons>a{
  padding: 0.5rem;
  width: 120px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

/* ========= Media Queries For medium devices (tablets) ========= */
@media screen and (max-width: 1024px) {
  .projects_container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* ========= Media Queries For Small Devices (Mobiles) ========= */
@media screen and (max-width: 600px) {
  .projects_container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
