header {
  height: 115vh;
  padding-top: 2rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

.header_container > h3 {
  font-size: 1.75rem;
}

.header_container > h1 {
  font-size: 3rem;
  color: white;
}

/* ======= CTA ======= */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.cta > .btn {
  width: 200px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.25rem;
}

/* ======= HEADER SOCIALS ======= */
.header_socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 4rem;
  font-size: 2.5rem;
}

.header_socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background-color: var(--color-primary);
}

/* ======= ME ======= */
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 0 0.5rem;
}

.scroll_down {
  position: absolute;
  right: -2.3rem;
  bottom: 10rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 2rem;
}

/* ========= Media Queries For medium devices (tablets) ========= */
@media screen and (max-width: 1024px) {
  header {
    height: 75vh;
  }
  .header_container > h3 {
    font-size: 2.5rem;
  }
  .header_container > h1 {
    font-size: 4rem;
  }
  .header_socials,
  .scroll_down {
    display: none;
  }
  .me {
    height: 55rem;
    width: 40rem;
    position: absolute;
    left: calc(50% - 20rem);
    margin-top: 4rem;
    border-radius: 20rem 20rem 0 0;
    overflow: hidden;
    padding: 2rem 0.5rem 0.5rem 0.5rem;
  }
  .me > img {
    height: 55rem;
  }
  .cta > .btn {
    font-size: 2.5rem;
    width: 350px;
    font-weight: 500;
    letter-spacing: 1px;
  }
}

/* ========= Media Queries For Small Devices (Mobiles) ========= */
@media screen and (max-width: 600px) {
  header {
    height: 55vh;
  }
  .header_socials,
  .scroll_down {
    display: none;
  }
  .me {
    height: 55rem;
    width: 40rem;
    position: absolute;
    left: calc(50% - 20rem);
    margin-top: 4rem;
    border-radius: 20rem 20rem 0 0;
    overflow: hidden;
    padding: 2rem 0.5rem 0.5rem 0.5rem;
  }
  .me > img {
    height: 55rem;
  }
}
